In [38]:
#pip install pandas openpyxl sqlalchemy pymysql

In [40]:
import pandas as pd

# Load the Excel file
df = pd.read_excel('24pas.xlsx')  # use sheet_name=... if needed
print(df.head())  # Preview the data

     ROLLNO           CAND_NAME             FAT_NAME           MOT_NAME  \
0  341CC017      BIDYAPATI OJHA  KALANDI CHARAN OJHA       RANJITA OJHA
1  308CD055        RUPSA PARIDA      PRADIPTA PARIDA     SASMITA PARIDA
2  305CZ057     PRITIMAYEE MODI      TRILOCHANA MODI      BINODINI MODI
3  306EB072  SAMBIT KUMAR NAYAK       SUDHANSU NAYAK  LAKSHYAHIRA NAYAK
4  146CA090         BANITA RANA           NEPAL RANA   SANDHYABATI RANA

   RESULT_TAG  RANK_T20  RANK_1STD  AGGR      REG_NO  \
0           2         0          0   318  CC41S22020
1           1         0          0   365  CD08S22076
2           1         0          0   457  CZ05S22059
3           3         0          0   255  EB06S22099
4           2         0          0   300  CA46A22112

                                  COLL_NAME  ... MI_MKS  O1_MKS O2_MKS  \
0       SAHASPUR H S SCHOOL, BALICHANDRAPUR  ...    NaN     NaN    NaN
1  HRUDANANDA NAYAK SMARAKI HS SCH, CHANDOL  ...    NaN     NaN    NaN
2      RESNICK SCIENCE H S SCHOOL, FAKIRPUR  ...    NaN     NaN    NaN
3               HILL TOP H S SCHOOL, MOHANA  ...    NaN     NaN    NaN
4    SHAILABALA WOMEN'S H S SCHOOL, CUTTACK  ...    NaN     NaN    NaN

   O3_MKS  O4_MKS  DATE_PUB  QRDATA SLNO   SLNONEW   SLNOGEN
0      NaN    NaN       NaN     NaN   NaN       NaN       NaN
1      NaN    NaN       NaN     NaN   NaN       NaN       NaN
2      NaN    NaN       NaN     NaN   NaN       NaN       NaN
3      NaN    NaN       NaN     NaN   NaN       NaN       NaN
4      NaN    NaN       NaN     NaN   NaN       NaN       NaN

[5 rows x 46 columns]

In [44]:
import re

# Clean all columns: remove any kind of whitespace (incl. non-breaking, unicode)
df.columns = [re.sub(r'\s+', '', col) for col in df.columns]

In [46]:
sum(col != col.strip() for col in df.columns)  # Should now return 0

0

In [50]:
# Clean column names
df.columns = df.columns.str.strip()

# Upload to MySQL
df.to_sql(name='certificate_structure1', con=engine, if_exists='replace', index=False)

9

In [52]:
from sqlalchemy import create_engine

# Replace the following with your actual database credentials
username = 'root'
password = 'root'
host = 'localhost'  # or IP address
port = '3306'
database = 'chseo'

# SQLAlchemy connection string
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

In [54]:
print(df.columns.tolist())

['ROLLNO', 'CAND_NAME', 'FAT_NAME', 'MOT_NAME', 'RESULT_TAG', 'RANK_T20', 'RANK_1STD', 'AGGR', 'REG_NO', 'COLL_NAME', 'ENG_SUB', 'ENG_MKS', 'MIL_SUB', 'MIL_MKS', 'OPT1_SUB', 'OPT1T1_MKS', 'OPT1P1_MKS', 'OPT2_SUB', 'OPT2T1_MKS', 'OPT2P1_MKS', 'OPT3_SUB', 'OPT3T1_MKS', 'OPT3T2_MKS', 'OPT3P1_MKS', 'OPT3P2_MKS', 'OPT4_SUB', 'OPT4T1_MKS', 'OPT4T2_MKS', 'OPT4P1_MKS', 'OPT4P2_MKS', 'IN_WORK', 'YOGA', 'BASIC', 'MNR_REFNO1', 'MNR_REFNO2', 'EI_MKS', 'MI_MKS', 'O1_MKS', 'O2_MKS', 'O3_MKS', 'O4_MKS', 'DATE_PUB', 'QRDATA', 'SLNO', 'SLNONEW', 'SLNOGEN']

In [56]:
print("Shape:", df.shape)
print("Number of columns:", len(df.columns))

Shape: (9, 46)
Number of columns: 46

In [58]:
table_name = 'certificate_structure1'

# Upload dataframe to MySQL (replace table if exists)
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

9